$border-hover: 2px solid red;
$border-principal: 1px solid black;
$bgColor-contenedor: beige;
$color-section: antiquewhite;
$seccion-template-columns: repeat(3, 1fr);
$seccion-template-rows: repeat(3, 1fr);
$seccion-template-areas: ". . ." ". espacio1 ." "espacio3 . espacio2";
$bgColor-seccion-div: blue;